/* Base Application Styles */

// 取消button默认样式
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
}

* {
  cursor: pointer; // ios点击事件不能正常触发
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 手机端点击按钮触发颜色块
}

.container {
  margin: 66px 10px;
  a {
    display: block;
  }
}
